body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#result {
    margin-top: 20px;
}

#uploadedImage {
    display: none;
    width: 300px; /* Optional: Set a size for the image */
    height: auto; /* Maintain aspect ratio */
    border: 2px solid blue;
}
#processedImage{
    display:none;
    width: 300px; /* Optional: Set a size for the image */
    height: auto; /* Maintain aspect ratio */
}   